<h1>Page#public</h1>
<p>Find me in app/views/page/public.html.erb</p>

<div id="cart">
  <%= render partial: "charges/cart" %>
</div>

<% @tacos.each do |taco| %>

  <div class="taco">
    <%= image_tag taco.photo_url, style: "width: 300px; height: 300px" %>
    <h5><%= taco.name %> <%= number_to_currency taco.price %></h5>
    <%= form_tag cart_path(taco_id: taco.id), remote: true, method: :post do %>
      <button>Add To Cart</button>
    <% end %>
  </div>
<% end %>
