<h1>Tacos#results</h1>

<%= render partial: 'form' %>

<div id="map"></div>


<script>
$(window).ready(function(){

  window.map = L.map('map').setView([<%= @lat %>, <%= @lng %>], 15);
  L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'examples.map-i875mjb7'
  }).addTo(window.map);

  L.marker([<%= @lat %>, <%= @lng %>])
  .addTo(window.map)
  .bindPopup("<b>You are HERE</b>");

  <% @venues.each do |venue| %>
  L.marker([<%= venue.location.lat %>, <%= venue.location.lng %>])
  .addTo(window.map)
  .bindPopup("<b><%= venue.name %></b>");
  <% end %>
});
</script>
