<!DOCTYPE html>
<html>
<head>
  <title>Reviewy</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <nav>
  <% if user_signed_in? %>
    Hi
    <%= current_user.first_name %>
    <%= image_tag current_user.photo_url %>

    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", sign_up_path %>
    <%= link_to "Sign in With Facebook", user_omniauth_authorize_path(provider: :facebook) %>
  <% end %>
  <%= link_to "Home", root_path %>
  <%= link_to "Private Stuff Here", private_path %>
  <%= link_to "Movie Reviews", :reviews_search %>
  <%= link_to "Taco Finder", :tacos_search %>


  <%= form_tag tacos_results_path, method: :post, id: "hangry" do %>
  <%= hidden_field_tag :longitude, "", placeholder: "longitude", id: "longitude" %>
  <%= hidden_field_tag :latitude, "", placeholder: "latitude", id: "latitude" %>
    <%= submit_tag "Find tacos near me NOAW I I HANGRY" %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
